/* inter-regular - latin_cyrillic */
@font-face {
  font-family: 'Inter400';
  font-style: normal;
  font-weight: 400;
  src: url(/assets/fonts/95b0bf1369645c52d6f2.eot); /* IE9 Compat Modes */
  src: local(''),
       url(/assets/fonts/95b0bf1369645c52d6f2.eot?#iefix) format('embedded-opentype'), /* IE6-IE8 */
       url(/assets/fonts/3450f06ef9b75d403809.woff2) format('woff2'), /* Super Modern Browsers */
       url(/assets/fonts/e154f2936e843fb5568c.woff) format('woff'), /* Modern Browsers */
       url(/assets/fonts/1797891de2cd0ad3c282.ttf) format('truetype'), /* Safari, Android, iOS */
       url(/assets/images/b8db5cf5416facf0c5ec.svg#Inter) format('svg'); /* Legacy iOS */
}

/* inter-500 - latin_cyrillic */
@font-face {
  font-family: 'Inter500';
  font-style: normal;
  font-weight: 500;
  src: url(/assets/fonts/2ef0073f4e9828ac2574.eot); /* IE9 Compat Modes */
  src: local(''),
       url(/assets/fonts/2ef0073f4e9828ac2574.eot?#iefix) format('embedded-opentype'), /* IE6-IE8 */
       url(/assets/fonts/1f6ed1cbe8940cb02696.woff2) format('woff2'), /* Super Modern Browsers */
       url(/assets/fonts/35529817e371b4cdbf01.woff) format('woff'), /* Modern Browsers */
       url(/assets/fonts/ddc90d2706f325aed582.ttf) format('truetype'), /* Safari, Android, iOS */
       url(/assets/images/bea79ba7b952c3b2ca75.svg#Inter) format('svg'); /* Legacy iOS */
}

/* inter-700 - latin_cyrillic */
@font-face {
  font-family: 'Inter700';
  font-style: normal;
  font-weight: 700;
  src: url(/assets/fonts/4c0bccc801368f5f5999.eot); /* IE9 Compat Modes */
  src: local(''),
       url(/assets/fonts/4c0bccc801368f5f5999.eot?#iefix) format('embedded-opentype'), /* IE6-IE8 */
       url(/assets/fonts/b232970bda67c97fa661.woff2) format('woff2'), /* Super Modern Browsers */
       url(/assets/fonts/b29e9f07d570f0b28921.woff) format('woff'), /* Modern Browsers */
       url(/assets/fonts/e7a46b63bec151bb8369.ttf) format('truetype'), /* Safari, Android, iOS */
       url(/assets/images/0a85e1f2fd11f8afbfa1.svg#Inter) format('svg'); /* Legacy iOS */
}

/* inter-800 - latin_cyrillic */
@font-face {
  font-family: 'Inter800';
  font-style: normal;
  font-weight: 800;
  src: url(/assets/fonts/979d695773dcd7091f07.eot); /* IE9 Compat Modes */
  src: local(''),
       url(/assets/fonts/979d695773dcd7091f07.eot?#iefix) format('embedded-opentype'), /* IE6-IE8 */
       url(/assets/fonts/5ef72c3ffdce1d14970d.woff2) format('woff2'), /* Super Modern Browsers */
       url(/assets/fonts/15e7d76edc19c1007ccd.woff) format('woff'), /* Modern Browsers */
       url(/assets/fonts/f5360c8550bbfa0ff4a6.ttf) format('truetype'), /* Safari, Android, iOS */
       url(/assets/images/382996fbcd8c32082084.svg#Inter) format('svg'); /* Legacy iOS */
}
*,
*::before,
*::after {
  padding: 0px;
  margin: 0px;
  border: none;
  box-sizing: border-box;
}

/* Links */
a, a:visited {

  text-decoration: none;
}

a:hover {

  text-decoration: none;
}

a:focus,
a:active {
  outline: none;
}

/* Common */
a, aside, nav, footer, header, section, main {
  display: block;
}

h1, h2, h3, h4, h5, h6, p {
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
}

ul {
  list-style: none;
}
.fKQK6b2jDxHobZMyXnWE,.WsfhSoM8fw6Q80DjZDgF{width:fit-content;min-width:100px;height:48px;padding:0 10px;border-radius:16px;cursor:pointer;transition:.5s}.K9D8Nn9k3WZGYZqfu7lH{max-width:1440px;height:800px;margin:0 auto;background-color:#ff0}.fKQK6b2jDxHobZMyXnWE{font-family:"Inter700",sans-serif;font-size:18px;line-height:36px;letter-spacing:0px;color:#fff;background-color:#7db59a}.fKQK6b2jDxHobZMyXnWE:hover{background-color:#5b9479}.fKQK6b2jDxHobZMyXnWE:active{background-color:#4f896c}.WsfhSoM8fw6Q80DjZDgF{font-family:"Inter700",sans-serif;font-size:18px;line-height:36px;letter-spacing:0px;color:gray;cursor:default;background-color:#c2c2c2}
@keyframes NKcWSTQ6AZIRpzjMCh2v {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.NKcWSTQ6AZIRpzjMCh2v {
  animation-name: NKcWSTQ6AZIRpzjMCh2v;
}
.kHp0Ia44KxopCwwLcoMP{position:fixed;top:0;left:0;z-index:1;display:flex;justify-content:center;align-items:center;width:100%;height:100vh;visibility:visible;opacity:1;background-color:rgba(128,128,128,.7)}.artBOPvmRM0k17B4A_EB{position:relative;width:fit-content;max-width:498px;height:fit-content;margin:0 20px;padding:25px;border-radius:16px;background-color:#fff}.dvvVIVThl454u4k2ZzJF{width:50px;height:50px;animation-duration:2s;animation-timing-function:linear;animation-direction:normal;animation-iteration-count:infinite}.G69wVXJdw6DIM5eSubtE{font-family:"Inter400",sans-serif;font-size:18px;line-height:22px;letter-spacing:0px;color:#000;cursor:default;margin-bottom:20px}.NYe8V_Ly649zzQ4slGbP{display:block;margin:0 auto}
.Y5fyvezItM1CCV8SKaKt{height:100vh;overflow-y:hidden;padding-right:15px}
.QXmmDimOAkNWU3gcKUcu{display:flex}.VSf26QdMUBH257KNW5DU{width:300px;height:100%;padding:100px 5px 0px 5px;background-color:blue}.HSL64VnixY_iMlRZnRcg{width:100px;height:100px;margin:0 auto;background-color:red}.hQ22oZCt3_vd4guhPAkt{width:100%;height:100%;background-color:pink}.vNsxM_U3VDKVyQN_FkpE{display:flex;align-items:center;width:100%;height:80px;padding:10px;background-color:azure}.VaLWpCK7fMhsXZtuM0_U{display:none}.tbuQROHUIlU5UzS0uo3M{position:absolute;width:100%;height:4px;background-color:blue;transition:.5s}.VmbNOjF4vgF7OvTDcXzp{top:0}.qdhMTrJ4kWqN1dDPpBYT{width:141.4213562373%;transform-origin:left center;transform:rotate(45deg) translate(-1px, -1px)}.N0K84RwTLeqJEFgfBJQq{top:50%;transform:translateY(-50%)}.dFDgqgt5lHHeOeD_XMCz{display:none}.AC54caQGBlOXTNOFlR6d{bottom:0}.t9fS7TEW8psP8TA119qH{width:141.4213562373%;transform-origin:left center;transform:rotate(-45deg) translate(-1px, 1px)}.xkJjgIsCvOIwQl5KhOgQ{font-family:"Inter400",sans-serif;font-size:18px;line-height:22px;letter-spacing:0px;color:#000;cursor:default;width:25px;margin-left:auto;height:fit-content;background-color:pink}.kfeZzCpRySEhZFqJiLCq{width:60px;height:60px;margin-left:20px;border-radius:50%;background-color:red}.FrxWFFYEgffXdfQ_4tN4{font-family:"Inter400",sans-serif;font-size:18px;line-height:22px;letter-spacing:0px;color:#000;cursor:default;width:fit-content;min-width:30px;max-width:100px;margin-left:20px;height:fit-content;background-color:pink}.jXwkkuo0XHaPBiIvy6Vc{font-family:"Inter400",sans-serif;font-size:18px;line-height:22px;letter-spacing:0px;color:#000;cursor:default;width:fit-content;min-width:30px;max-width:100px;margin-left:20px;height:fit-content;background-color:pink}.VQXoYpXBXz7cV8vXJNA8{width:40px;height:40px;margin-left:20px;background-color:red}.atBlZW8yAk_WrsB3dWvM{position:relative;height:100%;background-color:#9acd32}.RaeLXTc5nkaaRjx8zviQ{position:absolute;top:0;left:0;z-index:1;height:100%;background-color:gray;opacity:70%}@media(max-width: 849px){.VSf26QdMUBH257KNW5DU{position:absolute;top:0;left:0;z-index:2;height:90vh;margin-top:80px;padding-top:20px;transform:translateX(-100%);transition:.5s}.I7RKHbQVi9iKPj6arJMq{position:absolute;top:0;left:0;z-index:2;width:300px;height:90vh;margin-top:80px;padding:20px 5px 0px 5px;background-color:blue;transform:translateX(0%);transition:.5s}.VaLWpCK7fMhsXZtuM0_U{position:relative;display:block;width:40px;height:40px;background-color:red}}
::placeholder{font-family:"Inter400",sans-serif;font-size:18px;line-height:22px;letter-spacing:0px;color:gray;cursor:default}.eF2vFz_vsE2oSuOqDWi3,.SRKec14I_LOFG1vcC2Cc{height:20px;padding:0 12px 0 12px}.SRKec14I_LOFG1vcC2Cc{margin-bottom:5px}.tTKQADP9sOe6R6ycsJFy{font-family:"Inter800",sans-serif;font-size:12px;line-height:15px;letter-spacing:2px;color:gray;cursor:default}.BH5fg1M9uJFJbM4bIQMb,.soLzNAotqjpyTmEXxEIO,.l2tlhFVXzllcb5DLYGYr,.vdcieSZ1Z4lSaN10Vi1l{position:relative;display:flex;height:40px;margin-bottom:5px;padding:0 12px 0 12px;border:solid 2px #000;border-radius:20px}.vdcieSZ1Z4lSaN10Vi1l{border-color:#7db59a}.l2tlhFVXzllcb5DLYGYr{border-color:red}.soLzNAotqjpyTmEXxEIO{border-color:blue}.Ps9RgjelWo85Yza2H2gn{font-family:"Inter400",sans-serif;font-size:18px;line-height:22px;letter-spacing:0px;color:#000;cursor:default;width:100%;min-width:300px;height:100%;outline:none;background-color:rgba(0,0,0,0)}.tMsZTyr8xp4t4m3QLbOY{font-family:"Inter400",sans-serif;font-size:12px;line-height:15px;letter-spacing:0px;color:red;cursor:default}
.vFKImameNITzKbT_xYAL,.UoIU2FqdZi4Vun60vJGg{width:fit-content;min-width:100px;height:48px;padding:0 10px;border-radius:16px;cursor:pointer;transition:.5s}.G1knQZgVzntc89ufDmAA{height:fit-content}.zUtVdI3Kvj3EegspXhQd{display:flex;justify-content:center;height:fit-content}.vFKImameNITzKbT_xYAL{font-family:"Inter700",sans-serif;font-size:18px;line-height:36px;letter-spacing:0px;color:#fff;background-color:#7db59a}.vFKImameNITzKbT_xYAL:hover{background-color:#5b9479}.vFKImameNITzKbT_xYAL:active{background-color:#4f896c}.UoIU2FqdZi4Vun60vJGg{font-family:"Inter700",sans-serif;font-size:18px;line-height:36px;letter-spacing:0px;color:gray;cursor:default;background-color:#c2c2c2}
.cflC1BZzZ_nBNkhqi47u,.ywxoSzt1dBXlTO46wOWu,.FJq4Apv3R_MWctEMzsZv,.qRiRg7aNOzurmShfiF0d{position:relative;display:flex;height:40px;margin-bottom:5px;padding:0 12px 0 12px;border:solid 2px #000;border-radius:20px}.yHDbND7CenZSt8gv28uz{font-family:"Inter400",sans-serif;font-size:18px;line-height:22px;letter-spacing:0px;color:#000;cursor:default;width:100%;min-width:300px;height:100%;outline:none;background-color:rgba(0,0,0,0)}.BQlPq9i0s9XfmBTQecuT,.hLPV3aSEXlBqRbLaHHj0{height:20px;padding:0 12px 0 12px}.hLPV3aSEXlBqRbLaHHj0{margin-bottom:5px}.cflC1BZzZ_nBNkhqi47u,.ywxoSzt1dBXlTO46wOWu,.FJq4Apv3R_MWctEMzsZv,.qRiRg7aNOzurmShfiF0d{position:relative;display:flex;height:40px;margin-bottom:5px;padding:0 12px 0 12px;border:solid 2px #000;border-radius:20px}.qRiRg7aNOzurmShfiF0d{border-color:#7db59a}.FJq4Apv3R_MWctEMzsZv{border-color:red}.ywxoSzt1dBXlTO46wOWu{border-color:blue}.nglsnWk20zZQvnF1gd2w{font-family:"Inter800",sans-serif;font-size:12px;line-height:15px;letter-spacing:2px;color:gray;cursor:default}.o7coHExo56oCkpHwaj3j{font-family:"Inter400",sans-serif;font-size:18px;line-height:22px;letter-spacing:0px;color:gray;cursor:default}.jr7KUYVAFV11gWHUqKJA{font-family:"Inter400",sans-serif;font-size:12px;line-height:15px;letter-spacing:0px;color:red;cursor:default}
.r6B6GHP2mJ2IF9jkDHw_,.U7rbTWhX4DzQAG5WIYP_{width:fit-content;min-width:100px;height:48px;padding:0 10px;border-radius:16px;cursor:pointer;transition:.5s}.VB29yOk2bM2ztzv68YqE{height:fit-content}.BNK1qUgvRJYJWjRSYeqk{display:flex;justify-content:center;height:fit-content}.r6B6GHP2mJ2IF9jkDHw_{font-family:"Inter700",sans-serif;font-size:18px;line-height:36px;letter-spacing:0px;color:#fff;background-color:#7db59a}.r6B6GHP2mJ2IF9jkDHw_:hover{background-color:#5b9479}.r6B6GHP2mJ2IF9jkDHw_:active{background-color:#4f896c}.U7rbTWhX4DzQAG5WIYP_{font-family:"Inter700",sans-serif;font-size:18px;line-height:36px;letter-spacing:0px;color:gray;cursor:default;background-color:#c2c2c2}
.WlAmLvuU2PY3APtdy3Q0{display:flex;width:100%;height:90%;background-color:aqua}.ROuVc2sE1aFNykdjb8xk{width:100%;height:10%;background-color:blue}.g__EpaZSIhy4qVyj3gew{width:60%;height:100%;background-color:green}.f_6AHB9WVr13pLgEX2nc{width:40%;height:100%;padding:20px 0 0 0;background-color:pink}.gIHJ1VzHLcOAm_Nl154n{width:100px;height:100px;margin:0 auto 260px auto;background-color:red}.nDLUeVxsVUaf1u1ry50G{width:90%;height:fit-content;margin:0 auto 20px auto;background-color:#ff0}.JWmRYOTbOXf3ie73F7_D{font-family:"Inter400",sans-serif;font-size:18px;line-height:22px;letter-spacing:0px;color:blue;text-decoration:underline;cursor:pointer;width:fit-content;margin:0 auto}@media(max-width: 849px){.g__EpaZSIhy4qVyj3gew{display:none}.f_6AHB9WVr13pLgEX2nc{width:100%;max-width:400px;margin:0 auto}}
